@layer components {
  .checkboxButton {
    position: relative;
    @apply flex items-center;
  }

  .checkboxButton__input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    @apply mr-2 border hover:cursor-pointer hover:border-blue-600 border-gray-500 w-4 h-4 focus:ring-2 focus:ring-blue-200;
  }

  .checkboxButton__input:checked {
    @apply bg-blue-600 border-0;
  }

  .checkboxButton__label::before {
    content: "";
    display: none;
    background: transparent;
    width: 10px;
    height: 5px;
    position: absolute;
    left: 3px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    top: 7px;
  }

  .checkboxButton__input:checked + .checkboxButton__label::before {
    display: inline-block;
  }

  .checkboxButton__label {
    @apply text-sm font-normal text-gray-500 hover:cursor-pointer;
  }

  .checkboxButton__input[disabled],
  .checkboxButton__input[disabled] + .checkboxButton__label {
    @apply hover:cursor-default;
  }
}
